$primary-color: #ffffff;
 $font-color: #333;
 $button-font-color: #2c2929;
 $input-text-color: rgb(139, 134, 158);
 $font-stack: Lato, Helvetica, sans-serif;
 $breakpoint-phone: 375px;
 %flex-column {
     display: flex;
     flex-direction: column;
}
 @mixin fontsize($size: 16, $base: 16) {
     font-size: ($size / $base) * 1rem;
}


 html body {
     box-sizing: border-box;
     background:$primary-color;
     color: $font-color;
     font-family:$font-stack;
     @include fontsize(16);
}
 button {
     background: none;
     color: $button-font-color;
     @include fontsize(15);
     width: 5.75rem;
     border-radius: 0.3rem;
     cursor: pointer;
     outline: none;
     padding: 0.3rem 1rem;
     &:hover {
         background: $input-text-color;
         color: $primary-color;
    }
}
 .container {
     @extend %flex-column;
     align-items: center;
     width: 100%;
     margin: 0.25rem auto 0;
     @media (max-width: $breakpoint-phone) {
         margin-top: 1rem;
    }
     .section {
         width: 90%;
    }
     .title {
         display: flex;
         justify-content: center;
    }
     .input-wrapper {
         display: flex;
         justify-content: flex-end;
         padding-top: 1rem;
    }
     ul {
         padding: 0;
         margin-left: 0.4rem;
         li {
             list-style: none;
             margin: 2rem 0;
             box-shadow: 2px 5px 8px #d1cfdf;
             padding: 0.4rem 1rem;
             @media (max-width: $breakpoint-phone) {
                 box-shadow: none;
                 padding: 0;
            }
        }
    }
}
